<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Archive Manager</title>
	<link rel="stylesheet" href="/theme/styles/dashboard.css" type="text/css" />
	<link rel="stylesheet" href="/theme/styles/smoothness/jquery-ui-1.10.1.custom.css" type="text/css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/theme/script/jquery-ui-1.10.1.custom.min.js"></script>
	<script src="/theme/script/jquery.autocomplete.min.js"></script>
	<script SRC="/theme/script/core.js"></script>
</head>
<body>
<table cellspacing="0" cellpadding="0" style="width:1000px;margin: 0 auto;">
	<tr valign="top">		
		<td width="100%">
			<div class="webtop">