body {
	background-color:#EEEEEE;
	font-family: Arial,Verdana,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Bold',sans-serif;
    font-weight: normal;
    margin: 0;
}
a {
    color: #1122CC;
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}
input { font-size: 28px; padding: 10px; border: 1px solid #CCC; display: block; margin: 20px 0; }

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

.webtop {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    color: #333333;
    padding: 5px 10px 0;
    margin:0px auto;
    overflow:hidden;
}
.webtop-column {
	width:300px;
	float: left;
}
.webtop-cell {
	width:230px;
	float: left;
	padding: 14px 16px 10px;
	margin:10px 10px 0px 0px;
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    color: #333333;
    display: block;
    font-size: 13px;
}
.section {
	height:100%;
	width:100%;
	position: relative;
	float: left;
}
.searchbox {
    background-image:url('/theme/images/searchbar_bg.gif');
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    float: left;
    position: relative;
    width:250px;
    height:30px;
}
#loading {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	margin-left: -100px;
}
.webtop-section {
    background: none repeat scroll 0 0 #FAFBFB;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    color: #333333;
    padding: 14px 16px 10px;
    margin:0px auto;
    position: relative;
}
.webtop h4 {
    font-size: 23px;
    font-weight: 400;
    margin:0 auto;
    padding-top:15px;
    padding-bottom:20px;
    text-align: center;
}
.webtop h3 {
	font-size: 15px;
    line-height: 20px;
}

.webtop-links {
	width:270px;
	float:right;
	padding: 14px 16px 10px;
	background-image: url('/theme/images/content-bg.png');
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    color: #333333;
    display: block;
    font-size: 13px;
}
.webtop-link {
	margin:5px 5px 10px 15px;
	font-size:12px;
}
#resultMsg {
	color: #999;
	font-size: 13px;
	line-height: 35px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.about-sections {
	margin: 0 25px 0 25px;
}
.about-section {
    border-top: 1px solid #E0EEF5;
    font-size: 16px;
    margin: 15px 45px 0 35px;
    padding-top: 24px !important;
}
.about-sections p {
	width: 85%;
    color: #333333 !important;
    font-size: 14px;
    line-height: 22px !important;
    padding-bottom: 10px;
    margin: 0 0 15px 45px;
}

.clearfix{
	clear:both;
}
.fill-denim {
    background: none repeat scroll 0 0 #3C4E5A;
}
.col4 {
    float: left;
    width: 25%;
}
.col12 {
    display: block;
    width: 90%;
    margin:0 auto;
}
.pad2y {
    padding-bottom: 20px;
    padding-top: 20px;
}
.pad4x {
    padding-left: 40px;
    padding-right: 40px;
}
.center { text-align:center; }
.round-bottom {
    border-radius: 0 0 3px 3px;
}
.dark {
    color: #FFFFFF;
}
.big.icon.pencil:before {
    background-position: 0 -20px;
}
.dark .quiet {
    color: rgba(255, 255, 255, 0.5);
}