body {
	background-color:#EEEEEE;
	font-family: Arial,Verdana,sans-serif;
}
a {
    color: #1122CC;
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}
.webtop {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    color: #333333;
    float: left;
    padding: 5px 5px 5px;
    position: relative;
    width:1200px;
}
.section {
	height:100%;
	width:100%;
	position: relative;
	float: left;
}
.searchbox {
    background-image:url('/theme/images/searchbar_bg.gif');
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    float: left;
    position: relative;
    width:250px;
    height:30px;
}
#loading {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	margin-left: -100px;
}
.webtop-section {
    background: none repeat scroll 0 0 #FAFBFB;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    color: #333333;
    float: left;
    padding: 5px 5px 0;
    margin:10px 10px 0px 0px;
    position: relative;
    width: 820px;
}
.webtop h4 {
    font-size: 23px;
    font-weight: 400;
    margin:0 auto;
    padding-top:15px;
    text-align: center;
}
.webtop-signin {
	width:270px;
	float:right;
	padding: 14px 16px 10px;
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    color: #333333;
    display: block;
    font-size: 13px;
}
.webtop-links {
	width:270px;
	float:right;
	padding: 14px 16px 10px;
	background-image: url('/theme/images/content-bg.png');
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    color: #333333;
    display: block;
    font-size: 13px;
}
.webtop-link {
	margin:5px 5px 10px 15px;
	font-size:12px;
}
#webtop-header {
	width:100%;
	float:left;
}
#webtop-body {
	width:100%;
	float:left;
}
#webtop-footer {
	width:100%;
	float:left;
	text-align: right;
	margin-top:5px;
}
#webtop-footer a {
	font-family: arial,sans-serif;
    color: #666666;
    margin: 2px 10px 0;
    font-size:10pt;
}